*{
    margin: 0;
}
a :hover{
    color:white;
}
body{
    background-color: rgba(245, 245, 245, 0.616);
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    background-color: rgba(34, 33, 33, 0.877);
    overflow: auto;
}
 
ul li {
    float: left;
    border-bottom: 3px solid #4fb99f;
    
}
 
ul li a {
    display: inline-block;
    padding: 12px 24px;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}
 
ul li.active {
    background-color: rgb(21, 135, 148);
    border-bottom: 3px solid #f2b134;
}

ul li  a.beyazcizgisiz:hover{
    color: white;
    text-decoration: none;
}
 
ul li:hover(.active) {
    background-color: #068587;
    border-bottom: 3px solid #f2b134;
    
}
 
.hamburger-btn {
    display: none;
    cursor: pointer;
    padding: 3px 10px;
    border-radius: 4px;
    background-color: #068587;
    float: right;
}
 
.hamburger-btn .bar1, .hamburger-btn .bar2, .hamburger-btn .bar3 {
    width: 25px;
    height: 2px;
    background-color: #fff;
    margin: 6px 0px;
    transition: 0.4s;
}
 
.hamburger-change .bar1 {
    transform: rotate(-45deg) translate(-6px, 5px);
}
 
.hamburger-change .bar2 {
    /*IE8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    /*IE 5-7*/
    filter: alpha(opacity=0);
    /*Modern Browsers*/
    opacity: 0;
}
 
.hamburger-change .bar3 {
    transform: rotate(45deg) translate(-6px, -6px);
}

@media screen and (max-width: 768px) {
    ul {
        display: none;
        position: absolute;
        z-index: 2;
        top: 50px;
        left: 0px;
        width: 100%;
    }
    
    ul li {
        float: none;
        border-bottom: none;
        border-left: 6px solid #4fb99f;
    }
    
    ul li.active {
        border-bottom: none;
        border-left: 6px solid #f2b134;
    }
    
    ul li:hover:not(.active) {
        border-bottom: none;
        border-left: 6px solid #f2b134;
    }
    
    .hamburger-btn {
        display: inline-block;
    }
}

div.navbar-texture-correction{
    line-height: 1;
}
/* navbar kodları bitiş/

/* login formu kodları başlangıç*/
.login-form{
    width: 350px;
    padding: 20px;
    text-align: center;
    background-color: grey;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    height: 300px;
}
.login-form input{
    padding: 0 20px;
    height: 60px;
    border-radius: 4px;
    border: none;
    box-sizing: border-box;
}
.login-form .inputs {
    margin: 10px;
    margin-left: 30px;
    display: block;
    text-align: center;
    width: 250px;
}
.login-form h1{
    color:whitesmoke;
}
.login-form .buttons{
    height: 50px;
}
/* login formu kodları bitiş*/

/* okul sayfası kodları başlangıç*/
.tum-okullar {
  margin: 0;
  padding: 5px;
  background-color: lightgray;
  
}

.tum-okullar > h1, .okul {
  margin: 10px;
  padding: 5px;
}

.tum-okullar h1{
    text-align: center;
    
}

.okul {
  background: white;
}

.okul  > h2, p {
  margin: 20px;
  font-size: 115%;
}

img {
    height: auto;
    max-width: 100%;
    }
.image-table {
    border: 0px solid rgba(0, 0, 0, 0);
    border-collapse: separate;
    border-spacing: 6px;
    table-layout: fixed;
    text-align: center;
    width: 100%;
    }
.image-table img {
    border: 10px solid #fff;
    box-sizing: border-box;
    -webkit-box-shadow: 0 0 10px #999;
    box-shadow: 0 0 10px #999;
    }

/* okul sayfası kodları bitiş*/
/* sehir sayfası kodları başlangıç*/
.tum-sehirler {
    margin: 0;
    padding: 5px;
    background-color: lightgray;
    
  }
  
  .tum-sehirler > h1, .okul {
    margin: 10px;
    padding: 5px;
  }
  
  .tum-sehirler h1{
      text-align: center;
      
  }
  
  .sehir {
    background: white;
  }
  
  .sehir  > h2, p{
    margin: 30px;
    font-size: 130%;
  }
  .sehir >h3{
      margin-top: 60px;
      margin-left: 30px;
      font-size: 130%;
      font-weight: 600;
  }
  .sehir >h2{
      margin-top: 55px;
      font-weight: 800;
  }
  /* sehir sayfası kodları bitis*/

  /* Egitim sayfası kodları baslangıc*/
  .tum-mekanlar {
    margin: 0;
    padding: 5px;
    background-color: lightgray;
    
  }
  
  .tum-mekanlar > h1, .okul {
    margin: 10px;
    padding: 5px;
  }
  
  .tum-mekanlar h1{
      text-align: center;
      
  }
  
  .mekan {
    background: white;
  }
  
  .mekan  > h2, p {
    margin: 20px;
    font-size: 115%;
  }
  /*miras sayfası kodları bitis*/
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
  }